{# mentions legales et RGPG #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/mentions_legales/mentions_legales.css') }}">
{% endblock %}

{%  block body %}
<section class="container text-center my-5">

    <h1>Mentions légales</h1>
    <p class="text-center">En vigueur au 20/04/2022</p>

    <p class="mt-5">
        Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la
        Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et
        visiteurs, ci-après l""Utilisateur", du site HotelNetflix , ci-après le "Site", les présentes
        mentions légales.
    </p>
    <p>
        La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans réserve
        des présentes mentions légales.
    </p>
    <p>
        Ces dernières sont accessibles sur le Site à la rubrique « Mentions légales »
    </p>

    <h3 class="mt-5">ARTICLE 1 - L'EDITEUR</h3>
    <p>
        L'édition du Site est assurée par HotelNetflix SAS au capital de 25 milliards de dollars, immatriculée au Registre du
        Commerce et des Sociétés de Los Gatos sous le numéro 123456789 dont le siège social est situé au
        Los Gatos,
        Numéro de téléphone 00123456789,
        Adresse e-mail : www.netflix.com.
        N° de TVA intracommunautaire : FR09999999
        Le Directeur de la publication est HotelNetflix
        ci-après l'"Editeur".
    </p>

    <h3 class="mt-5">ARTICLE 2 - L'HEBERGEUR</h3>
    <p>
        L'hébergeur du Site est la société Scalingo, dont le siège social est situé à
        Paris , avec le numéro de téléphone : 0123456789 + scalingo@contact.com.
    </p>

    <h3>ARTICLE 3 - ACCES AU SITE</h3>
    <p>
        Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption
        programmée ou non et pouvant découlant d’une nécessité de maintenance.
        En cas de modification, interruption ou suspension du Site, l'Editeur ne saurait être tenu responsable.
    </p>

    <h3 class="mt-5">ARTICLE 4 - COLLECTE DES DONNEES</h3>
    <p>
        Le Site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect
        de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers
        et aux libertés.

        En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit
        d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur
        exerce ce droit : <br>
            · par mail à l'adresse email hotelnetflix@contact.com <br>
            · par voie postale au 1 Rue de l'Exemple, 75000 Paris, France ; <br>
            · via un formulaire de contact ; <br>
            · via son espace personnel ; <br>
        Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site,
        sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires
        telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.
    </p>

</section>

{% endblock %}

