<form id="form-reviews" method="post" action="{{ path('app_reviews_delete', {'id': review.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ review.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
